@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body, html {
    /* height: 100%; */
    width: 100%;
    font-family: 'Yaldevi', sans-serif;
    /* font-family: 'Ek Mukta', sans-serif; */
}

body::-webkit-scrollbar {
    display: none;
}

#root {
    width: 100%
}